<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>page</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="../static/assets/css/styles.css">
</head>

<body>
    <div class="row register-form" style="width: 100%;">
        <div class="col-md-8 offset-md-2">
            <form class="custom-form" action="/reg">
                <h1>Регистрация</h1>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Логин</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" name="log" type="text"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="pawssword-input-field">Пароль</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" name="pwd" type="password"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="repeat-pawssword-input-field">Ты ментор?</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" name="is_mentor" type="text"></div>
                     <h4 style="width: 98%;margin-right: 1%;margin-left: 1%;margin-top: 1%;">Выбери свой кейс(Только для менторов)</h4><select style="width: 98%;margin-right: 1%;margin-left: 1%;" name="case">
                    {% for case in cases %}
                            <optgroup>
                                <option name="case" >{{case.name}}</option>
                            </optgroup>
                    {% endfor %}
</select>
                </div><button class="btn btn-light submit-button">Зарегестрироваться</button></form>
        </div>
    </div>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>